@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
	<div class="col-md-8 text-md-left">
		<a asp-page="/Index"><img src="~/images/Logo.png" alt="Pie Shop" class="logo-header me-2" /></a>
		<span class="company-header d-md-inline d-block">WEBAPP USER PANEL</span>
	</div>

    <div class="col-md-4 align-self-center text-md-right">
            <div class="float-end">
                <a class="text-white small" href="#" target="_blank"><i class="far fa-arrow-alt-circle-right me-1"></i>Signin</a>
                <span class="text-white">&nbsp;/&nbsp;</span>
                <a class="text-white small" href="#" target="_blank"><i class="far fa-user me-1"></i>Register</a>
            </div>
        </div>
</div>