@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#TopNavigation">
	<span class="navbar-toggler-icon"><i class="fas fa-chevron-circle-down text-white"></i></span>
</button>

<div id="TopNavigation" class="collapse navbar-collapse">
	<ul class="navbar-nav text-uppercase me-auto">
		<li class="nav-item"><a class="nav-link text-lg-center text-left menuitem" asp-page="/Index">Home</a></li>
        <li class="nav-item"><a class="nav-link text-lg-center text-left menuitem" asp-page="/Category/List">Category List</a></li>
		<li class="nav-item"><a class="nav-link text-lg-center text-left menuitem" asp-page="/Pie/List">Pie List</a></li>
		<li class="nav-item"><a class="nav-link text-lg-center text-left menuitem" asp-page="#">Item One</a></li>
		<li class="nav-item"><a class="nav-link text-lg-center text-left menuitem" asp-page="#">Item Two</a></li>
		<li class="nav-item"><a class="nav-link text-lg-center text-left menuitem" asp-page="#">Item Three</a></li>
		<li class="nav-item"><a class="nav-link text-lg-center text-left menuitem" asp-page="#">Item Four</a></li>
		<li class="nav-item"><a class="nav-link text-lg-center text-left menuitem" asp-page="#">Item Five</a></li>
		<li class="nav-item"><a class="nav-link text-lg-center text-left menuitem" asp-page="#">Item Six</a></li>
		<li class="nav-item"><a class="nav-link text-lg-center text-left menuitem" asp-page="#">Item Seven</a></li>
		<li class="nav-item"><a class="nav-link text-lg-center text-left menuitem" asp-page="#">Item Eight</a></li>
		<li class="nav-item"><a class="nav-link text-lg-center text-left menuitem" asp-page="#">Item Nine</a></li>
		<li class="nav-item"><a class="nav-link text-lg-center text-left menuitem" asp-page="#">Item Ten</a></li>
	</ul>
</div>