@page
@model WebApp.User.UI.Pages.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<!--Breadcrumb Row-->
<div class="row mb-4">
	<div class="col-12">
		<ol class="breadcrumb my-0">
			<li class="breadcrumb-item"><a asp-page="/Index" class="breadcrumb-link">Home</a></li>
			<li class="breadcrumb-item active">@ViewData["Title"]</li>
		</ol>
	</div>
</div>
<!--Breadcrumb Row-->

<!--Page Header Row-->
<div class="row mb-4">
	<div class="col-12">
		<div class="PageHeader">@ViewData["Title"]</div>
	</div>
</div>
<!--Page Header Row-->

<!--Content Row-->
<div class="row">
	<div class="col-12">
		<div class="ContentSection">The requested resource was not found.</div>
        <a href="javascript:history.go(-1)" class="btn btn-success">Return to Previous Page</a>
	</div>
</div>
<!--Content Row-->