@page
@model ErrorModel
@{
	ViewData["Title"] = "Error";
}

@section Breadcrumb
{
<li class="breadcrumb-item"><a asp-page="/Index" class="breadcrumb-link">Home</a></li>
<li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<div class="ContentSection mb-3">An error occurred while processing the request.</div>

<p class="mb-0">
	<strong>Error Message:</strong><br>
	@Html.Raw(Model.ErrorMessage)
</p>

<environment include="Development">
	<p class="mt-3 mb-0">
		<strong>Error Details:</strong><br>
		<code>@Model.StackTrace</code>
	</p>
</environment>