@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="row">
	<div class="col-4">
		<p class="mb-0">
			<div class="PageHeaderBordered">Tools/Technology Used</div>
			► Language: C#<br>
			► Framework: ASP.NET Core 7<br>
			► UI Project: Razor Pages<br>
			► API Project: ASP.NET Core Web API 7<br>
			► IDE: Visual Studio 2022<br>
			► Database: SQL Server 2019<br>
			► ORM: Dapper<br>
		</p>
	</div>
	<div class="col-8">
		<div class="PageHeaderBordered">Technology Features Used</div>
		<div class="row">
			<div class="col-6">
				<p class="mb-0">
					► Clean (Onion) Architecture<br>
					► Serilog for Logging<br>
					► Fluent for Server Side Validation<br>
					► jQuery for Client Side Validation<br>
					► In-memory Caching<br>
					► Server Side Paging<br>
					► Exception Handling and Logging<br>
					► IHttpClientFactory to Consume API<br>
					► Polly to Express Fault Policy<br>
					► JWT Authentication for Web API<br>
					► Implementation of Refresh Token<br>
					► API Versioning<br>
					► Async Programming<br>
					► ASP.NET Identity<br>
					► RWD using Bootstrap
				</p>
			</div>
			<div class="col-6">
				<p class="mb-0">
					► AdminLTE for Dashboard Theme<br>
					► Filtering/Searching<br>
					► Export in CSV<br>
					► Email Template Management<br>
					► Audit Log Management<br>
					► Sendgrid for e-mailing<br>
					► Alpha SMS for Text Messaging<br>
					► Fire & Forget for Long Running Task<br>
					► Exception Noice Cancelation<br>
					► Validation Noice Cancelation<br>
					► Central Messaging in Resource Files<br>
					► File Upload, Dropdown List, Date Picker<br>
					► Unit Test using xUnit, Moq, Shouldly
				</p>
			</div>
		</div>
	</div>
</div>