<span class="text-dark">Copyright &copy; @DateTime.Now.Year <a class="text-dark" href="https://webapp.com/" target="_blank">Web App Limited</a>. All rights reserved.</span>
<div class="text-dark float-right d-none d-sm-inline-block">Version: 1.0.0</div>