@page
@model WebApp.User.UI.Pages.Appointment.ListModel

<h2>My Appointments</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Appointments != null)
        {
            foreach (var a in Model.Appointments)
            {
                <tr>
                    <td>@a.DoctorId</td>
                    <td>@a.AppointmentDate</td>
                    <td>@a.Status</td>
                </tr>
            }
        }
    </tbody>
</table>
